@mixin container {
    max-width: 100vw;
    min-height: 100vh;
    
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bd-radius($value) {
    border-radius: $value;
}

@mixin font($value) {
    font-size: $value;
}

@mixin btn{
}

@mixin anchor{
    padding: 2rem;
    font-size: 3rem;
}
