@use '../utills/mixins.scss' as *;



@media screen and (max-width:1200px) {
    #Header{
        >.container{
            align-items: flex-start;
            // background-color: red;
            margin: 14rem 0 0 10rem;

            >.profile-container{

                >.profile-card{

                    .heading{

                        font-size: 4rem;
                        // background-color: red;
                    }
                }
            }

            .profile-picture{
                // background-color: red;
                
                >.card{
                    margin-top: 2rem;
                    width: 250px;
                    height: 250px;
                    
                }
            }

        }
    }

}


@media screen and (max-width:992px) {
        #Header{
        >.container{
            align-items: flex-start;
            margin: 7rem 0 0 10rem;

            // background-color: red;
            >.profile-container{

                >.profile-card{

                    .heading{

                        font-size: 3.5rem;
                        // background-color: red;
                    }
                }
            }
            >.profile-picture{
                // background-color: green;
                justify-content: flex-end;

                >.card{
                    margin-top: 2rem;
                    min-height: 200px;
                    min-width: 200px;

                    img{
                        left: -48px;
                    }
                }
            }


        }
    }

    #About{
        // background-color: yellow;
    }
}



@media screen and (max-width:825px) {
    #Header{
        >.container{
            // background-color: red;
            height: 100%;
            // margin: 0;
            margin: 6rem 0rem 0 0rem;
            flex-direction: row;

            >.social{
                position: static;
                order: 3;
                display: flex;
                flex-direction: row;
                margin-top: 5rem;
                column-gap: 1.2rem;

            }
            >.profile-container{
                flex-basis: 100%;
                order: 1;
            }
            >.profile-picture{
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                order:2;
            }

        }
       

    }
    #About{
        // background-color: red;
        >.about-container{
            flex-direction: column;
            padding-bottom: 3rem;
        }
    }
}




@media screen and (max-width:768px) {

    #Header{
        // background-color: yellow;
        .container{
            // background-color: red;
        }
    }
    
}


@media screen and (max-width:576px) {
    #Navbar{
        bottom: -15px;
    }
    #Header{
        // background-color: red;

    }

    #About{
        // background-color: red;
        padding-top: 2rem;
        
        >.about-container{
            // background-color: yellow;
            // color: black;
            padding-bottom: 1.5rem;
            // margin: 0;
            >.about-content{
                // background-color: lightgreen;
                padding: 2rem;

                >.activity{
                    // background-color: red;
                    // font-size: 1.8rem;
                    grid-template-columns: 1fr;
                    margin-left: 2rem;
                    // font-size: 1.7rem;
                    width: 100%;
                }
            }
        }
    }
    
}


@media screen and (max-width:350px) {
    #Navbar{
        bottom: -15px;
    }
    
    #Header{
        
        >.container{
            margin-top: 2rem;
            >.profile-container{
                // justify-content: center;
                >.profile-card{
                    .heading{
                        font-size: 3rem;
                    }
                    .typewriter{
                        font-size: 2.8rem;
                    }
                    .btn{
                        // background-color: red;
                        // flex-direction: column;
                        // row-gap: 1.5rem;
                        // justify-content: center;
                        // width: fit-content;
                        
                        >button{
                            // width: fit-content;
                            padding: .4em .6em;

                            a{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

    }
    
}